<app-person-generator (generateRequest)="generate($event)">
</app-person-generator>

<table [dataSource]="dataSource" class="mat-elevation-z8" mat-table>

  <ng-container matColumnDef="id">
    <th *matHeaderCellDef mat-header-cell> #</th>
    <td *matCellDef="let element" mat-cell> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="firstName">
    <th *matHeaderCellDef mat-header-cell> Prénom</th>
    <td *matCellDef="let element" mat-cell> {{element.firstName}} </td>
  </ng-container>

  <ng-container matColumnDef="lastName">
    <th *matHeaderCellDef mat-header-cell> Nom</th>
    <td *matCellDef="let element" mat-cell> {{element.lastName}} </td>
  </ng-container>

  <ng-container matColumnDef="gender">
    <th *matHeaderCellDef mat-header-cell> Sexe</th>
    <td *matCellDef="let element" mat-cell> {{element.gender | translate}} </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th *matHeaderCellDef mat-header-cell> Email</th>
    <td *matCellDef="let element" mat-cell> {{element.email}} </td>
  </ng-container>

  <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
  <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
</table>
